body {
    @media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }
}
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(189, 225, 122);
}
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(207, 156, 68);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

